/*Custom style for all pages*/
/*Dashboard.html CSS*/
.dashboard .conversations {
	max-height: 336px;
	overflow-y: auto;
}
/*conversations.html CSS*/
.conversations .user-detail .ribbon {
	top: -10px;
	right: 5px;
}
.start-coversation .popover.in {
	right: 0 !important;
	background: #eeeeee;
	box-shadow: 0 1px 2px rgba(0,0,0,.35);
    border: none;
    border-radius: 0;
	min-width: 380px;
}
.start-coversation .popover.in .popover-content {
    padding: 5px 0 0 20px;
}
/*self-assessment.html*/
.self-assessment .c100 {
    margin: 20px auto;
	background-color: #dddddd;
}
.self-assessment .c100:after {
	background-color: #ffffff;
}
/* Arrow Tab CSS */
.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	margin: 0 10px;
	padding: 6px 5px 6px 25px;
	float: left;
	position: relative;
	background-color: #ffffff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -16px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #ffffff;
	z-index: 2;
	transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #38afd3;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 10px;
}
.arrow-steps .step.current {
	color: #fff;
	background-color: #23468c;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #23468c;	
}
.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step.done span:before {
	opacity: 0;
	content: "✔";
	position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0 5px 0 5px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #23468c;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #23468c;	
}
/*edit-profile.html*/
#accordion.edit-profile .panel .panel-heading {
	padding: 0;
}
#accordion.edit-profile .panel .panel-heading a {
	display: block;
	padding: 10px 15px;
}
/*file upload button*/
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999px;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
/*end file upload button*/
#clone-sections .section:first-child {
	padding-top: 0;
}
#clone-sections .section {
	border-bottom: 1px solid #bdbdbd;
}

/* Course page*/

.highlight-boxes .bg-overlay {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 300px;
    padding-top: 100px;
}
.green-bg.bg-overlay {
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/computer-2982270_640.jpg");
}
.red-bg.bg-overlay {
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/money-2696229_640.jpg");
}
.blue-bg.bg-overlay {
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/coins-948603_640.jpg");
}
.purple-bg.bg-overlay {
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/startup-593344_640.jpg");
}
.yellow-bg.bg-overlay {
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/cup-2752105_640.jpg");
}
.green-bg.bg-overlay:hover {
	background-color: #21bb37;
	background-image: initial;
	transition: 'background-color, background-image' 0.2s liner;
}
.red-bg.bg-overlay:hover {
	background-color: #fe0000;
	background-image: initial;
}
.blue-bg.bg-overlay:hover {
	background-color: #1e1884;
	background-image: initial;
}
.purple-bg.bg-overlay:hover {
	background-color: #920391;
	background-image: initial;
}
.yellow-bg.bg-overlay:hover {
	background-color: #e2ea1b;
	background-image: initial;
}
.filter-sec .search-box {
	position: relative;
}
.search-box .fa-search {
	position: absolute;
    right: 10px;
    top: 7px;
    font-size: 18px;
}
.filter-sec .header .expand {
	display: inline-block;
	width: 22px;
	height: 22px;
	float: right;
	text-align: center;
    padding-top: 3px;
	font: normal normal normal 18px/1 FontAwesome;
	font-size: 18px;
	color: #777777;
	cursor: pointer;
	transition: all 1s ease-out;
}
.filter-sec .header .expand:before {
	content: "\f068";
}
.filter-sec .header .expand.collapsed:before {
	content: "\f067";
	transition: all 1s ease-out;
}

/*standard-profile.html CSS*/
.profile-banner {
	width: 100%;
	height: 140px;
	position: relative;
	background-image: url(../img/profile-bannerBG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: padding-box;
}
.btn.btn-trans-grey {
	background-color: rgba(49, 53, 61, 0.5);
}
.btn.btn-trans-grey:hover, .btn.btn-trans-grey:focus {
	background-color: rgba(25, 27, 31, 0.8);
	color: #ffffff;
}
img.img-circle.profile-photo {
    margin-top: -30px;
}
.social-icons, .social-icons:hover, .social-icons:focus {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	color: #ffffff;
	line-height: 36px;
    text-align: center;
}
.behance {
	background-color: #1779c5;
}
.twitter {
	background-color: #00a9ff;
}
.youtube {
	background-color: #dd1c1c;
}
.whatsapp {
	background-color: #39b04a;
}
.profile-details li {
    line-height: 34px;
    font-weight: bold;
}
.profile-details li img {
    padding-right: 5px;
	vertical-align: sub;
}

/* Course page2*/
.course-details .highlight-boxes {
	/* height: 400px; */
	padding-bottom: 30px;
}
.course-details .bg-grey-active {
	background-color: #353535;
}
.course-details .buynow {
	width: 33.3333%;
	position: absolute;
	top: 34px;
	right: 15px;
	z-index: 1;
}
.position-relative {
	position: relative;
}
.course-details .lead-head {
	line-height: 19px;
	font-family: "Georgia";
}
img.forma {
	/* vertical-align: inherit; */
}
.btn.btn-success {
	background-color: #21bb37;
}
.course-details .section-content {
	min-height: 200px;
	position: relative;
	margin-bottom: 20px;
}
.course-details .section-content .show-more {
	position: absolute;
	bottom: 0;
}
.course-details .user-detail span {
    line-height: 36px;
}
@media (max-width: 979px) {
	.course-details .buynow {
		position: static;
		width: inherit;
	}
}