{% extends 'base.html' %}

{% load static %}

{% block title %}Course Listing{% endblock title %}

{% block extra-css %}
    <style>
    </style>
{% endblock extra-css %}

{% block content %}
    <div class="f-s-24 h1 m-0 p-t-30 p-b-15 p-l-15 bg-white">Courses</div>
    <div class="container-fluid">
        <!--/HighlightBoxes End-->
        <div class="row highlight-boxes">
            <a href="{% url 'course-listing' %}?category=starting-business">
                <div class="width-20p green-bg bg-overlay pull-left">
                    <div class="text-center">
                      <img src="{% static 'img/starting-business.png' %}" alt="startup_img">
                        <div class="p-t-15">Starting A Business</div>
                    </div>
                </div>
            </a>
            <a href="{% url 'course-listing' %}?category=running-business">
                <div class="width-20p red-bg bg-overlay pull-left">
                    <div class="text-center">
                      <img src="{% static 'img/running-business.png' %}" alt="contract_img">
                      <div class="p-t-15">Running A Business</div>
                    </div>
                </div>
            </a>

            <a href="{% url 'course-listing' %}?category=growing-business">
                <div class="width-20p blue-bg bg-overlay pull-left">
                    <div class="text-center">
                      <img src="{% static 'img/growing-business.png' %}" alt="growth_img">
                        <div class="p-t-15">Growing A Business</div>
                    </div>
                </div>
            </a>

            <a href="{% url 'course-listing' %}?category=workshops-seminars">
                <div class="width-20p purple-bg bg-overlay pull-left">
                    <div class="text-center">
                      <img src="{% static 'img/workshops.png' %}" alt="business-people-meeting_img">
                        <div class="p-t-15">Workshops &amp; Seminars</div>
                    </div>
                </div>
            </a>

            <a href="{% url 'course-listing' %}?category=interviews">
                <div class="width-20p yellow-bg bg-overlay  pull-left">
                    <div class="text-center">
                      <img src="{% static 'img/interview.png' %}" alt="meeting_img">
                        <div class="p-t-15">Interviews</div>
                    </div>
                </div>
            </a>
        </div>
        <!--/HighlightBoxes End-->
    </div>

    <div class="container">
        <div class="row m-t-30">
            <div class="col-md-3 col-sm-4 filter-sec">
                <!--
                <div class="top-whole-search search-box p-b-15">
                    <input type="search" class="form-control bg-grey-light" />
                    <i class="fa fa-search text-muted"></i>
                </div>-->
                <form id="search-form">
                <div class="teachers-filter p-t-15 p-b-15">
                    <div class="header clearfix">
                        <span class="panel-title f-w-600">Teacher</span>
                        <i class="expand" data-toggle="collapse" data-target="#teacher-panel" aria-controls="teacher-panel"></i>
                    </div>
                    <div id="teacher-panel" class="teacher-panel p-t-15 collapse in">
                        {% comment %}
                        <div class="search-box">
                            <input type="search" class="form-control bg-grey-light" />
                            <i class="fa fa-search text-muted"></i>
                        </div>
                        {% endcomment %}
                        {% for teacher, count in teachers.items %}
                        <div class="checkbox">
                            <label class="f-w-600" for="id-{{ teacher }}">
                                <input type="checkbox" name="teacher" id="id-{{ teacher }}" value="{{ teacher }}" onchange="search_course();"> {{ teacher }} (<span>{{ count }}</span>)
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="discount-filter p-t-10 p-b-15">
                    <div class="header clearfix">
                        <span class="panel-title f-w-600">Discount</span>
                        <i class="expand" data-toggle="collapse" data-target="#discount-panel" aria-controls="discount-panel"></i>
                    </div>
                    <div id="discount-panel" class="discount-panel p-t-15 collapse in">
                        <!--
                        <div class="search-box">
                            <input type="search" class="form-control bg-grey-light" />
                            <i class="fa fa-search text-muted"></i>
                        </div>-->
                        <div class="checkbox">
                            <label class="f-w-600">
                                <input type="checkbox" name="offer" value="50" onchange="search_course();"> 50% off or More
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="f-w-600">
                                <input type="checkbox" name="offer" value="30" onchange="search_course();"> 30% off or More
                            </label>
                        </div>
                        <div class="checkbox">
                            <label class="f-w-600">
                                <input type="checkbox" name="offer" value="10" onchange="search_course();"> 10% off or More
                            </label>
                        </div>
                    </div>
                </div>

                <div class="rating-filter p-t-10 p-b-15">
                    <div class="header clearfix">
                        <span class="panel-title f-w-600">Rating</span>
                        <i class="expand" data-toggle="collapse" data-target="#rating-panel" aria-controls="rating-panel"></i>
                    </div>
                    <div id="rating-panel" class="rating-panel p-t-15 collapse in">
                        <!--<div class="search-box">
                            <input type="search" class="form-control bg-grey-light" />
                            <i class="fa fa-search text-muted"></i>
                        </div>-->
                        <div class="checkbox" onclick="rating_change(4)">
                            <label class="p-l-0 f-w-600">
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-gray"></i>
                                &amp; Up (<span>3</span>)
                            </label>
                        </div>
                        <div class="checkbox" onclick="rating_change(3)">
                            <label class="p-l-0 f-w-600">
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-gray"></i>
                                <i class="fa fa-star text-gray"></i>
                                &amp; Up (<span>2</span>)
                            </label>
                        </div>
                        <div class="checkbox" onclick="rating_change(2)">
                            <label class="p-l-0 f-w-600">
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-gray"></i>
                                <i class="fa fa-star text-gray"></i>
                                <i class="fa fa-star text-gray"></i>
                                &amp; Up (<span>1</span>)
                            </label>
                        </div>
                        <div class="checkbox" onclick="rating_change(1)">
                            <label class="p-l-0 f-w-600">
                                <i class="fa fa-star text-yellow"></i>
                                <i class="fa fa-star text-gray"></i>
                                <i class="fa fa-star text-gray"></i>
                                <i class="fa fa-star text-gray"></i>
                                <i class="fa fa-star text-gray"></i>
                            </label>
                        </div>
                    </div>
                </div>
                    <input type="hidden" name="rating" id="id_rating" value="0"/>
                </form>
            </div>

            <div class="col-md-9 col-sm-8">
            <!--/ Filter result boxes Begain-->
                <div class="row" id="course-listing">
                    {% include 'common/includes/course_mid_listing.html' %}
                </div>
                <!--/ Filter result boxes End-->
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
{% endblock content %}

{% block extra-js %}
    <script type="text/javascript">
        function search_course() {
            console.log("Search Course!");
            $.getJSON(
                "{% url 'course-listing' %}",
                $('#search-form').serialize() + '&category=' + '{{ request.GET.category }}',
                function(output) {
                    console.log(output);
                    $('#course-listing').empty();
                    $(output['result']).appendTo($('#course-listing'))
                }
            );
        }

        function rating_change(rating) {
            $('#id_rating').val(rating);
            search_course();
        }
    </script>
{% endblock extra-js %}