{% extends 'base.html' %}

{% load static %}

{% block title %}Edit Profile{% endblock title %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/chosen.css' %}" type="text/css">
{% endblock extra-css %}

{% block content %}
    <div class="container">
        <form action="." method="post" class="form-horizontal" role="form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.errors }}
            <div class="panel panel-default m-t-15">
                <div class="panel-heading">
                    <strong class="f-s-22">Edit Profile</strong>
                </div>
                <div class="panel-body bg-theme">
                    <div class="panel-group m-b-0 edit-profile" id="accordion">
                        <div class="panel panel-default">
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    {% with err=form.photo.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="Photo" class="col-sm-4 control-label">Photo</label>
                                        <div class="col-sm-4">
                                            {% if form.photo %}
                                                <img src="{% if form.photo.value %}{{ MEDIA_URL }}{{ form.photo.value }}{% else %}{% static 'img/no-photo.png' %}{% endif %}" alt="profile-icon-female" style="margin-bottom: 10px;" width="98" height="98">
                                            {% endif %}
                                            {{ form.photo }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.first_name.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="firstName" class="col-sm-4 control-label">First Name</label>
                                        <div class="col-sm-4">
                                            {{ form.first_name }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.last_name.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="lastName" class="col-sm-4 control-label">Last Name</label>
                                        <div class="col-sm-4">
                                            {{ form.last_name }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.address.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="address" class="col-sm-4 control-label">Address</label>
                                        <div class="col-sm-4">
                                            {{ form.address }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.city.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="state" class="col-sm-4 control-label">City</label>
                                        <div class="col-sm-4">
                                            {{ form.city }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.state.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="state" class="col-sm-4 control-label">State</label>
                                        <div class="col-sm-4">
                                            {{ form.state }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.country.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="country" class="col-sm-4 control-label">Country</label>
                                        <div class="col-sm-4">
                                            {{ form.country }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.postal_code.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="country" class="col-sm-4 control-label">Postal code</label>
                                        <div class="col-sm-4">
                                            {{ form.postal_code }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.phone_number.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="country" class="col-sm-4 control-label">Phone number</label>
                                        <div class="col-sm-4">
                                            {{ form.phone_number }}
                                            <span class="" style="color: #404040;">({{ form.phone_number.help_text }})</span>
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.about_me.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="country" class="col-sm-4 control-label">About me</label>
                                        <div class="col-sm-4">
                                            {{ form.about_me }}
                                            <span class="" style="color: #404040;">({{ form.about_me.help_text }})</span>
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.professional_experience.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="id_professional_experience" class="col-sm-4 control-label">Professional Experience</label>
                                        <div class="col-sm-4">
                                            {{ form.professional_experience }}
                                            <span class="" style="color: #404040;">{{ form.professional_experience.help_text }}</span>
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.industry.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="id_industry" class="col-sm-4 control-label">Industry</label>
                                        <div class="col-sm-4">
                                            {{ form.industry }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.languages_spoken.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="Photo" class="col-sm-4 control-label">Languages</label>
                                        <div class="col-sm-4">
                                            {{ form.languages_spoken }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% if profile_type == 'mentor' %}
                                        {% with err=form.business_experience_country.errors %}
                                        <div class="form-group{% if err %} has-error{% endif %}">
                                            <label for="Photo" class="col-sm-4 control-label">Business experience Country﻿*</label>
                                            <div class="col-sm-4">
                                                {{ form.business_experience_country }}
                                                <span class="text-danger">{{ err.0 }}</span>
                                            </div>
                                        </div>
                                        {% endwith %}

                                        {% with err=form.management_experience.errors %}
                                        <div class="form-group{% if err %} has-error{% endif %}">
                                            <label for="Photo" class="col-sm-4 control-label">How many years of business management experience do you have?﻿*</label>
                                            <div class="col-sm-4">
                                                {{ form.management_experience }}
                                                <span class="text-danger">{{ err.0 }}</span>
                                            </div>
                                        </div>
                                        {% endwith %}

                                        {% with err=form.ownership_experience.errors %}
                                        <div class="form-group{% if err %} has-error{% endif %}">
                                            <label for="Photo" class="col-sm-4 control-label">How many years of ownership experience do you have?﻿*</label>
                                            <div class="col-sm-4">
                                                {{ form.ownership_experience }}
                                                <span class="text-danger">{{ err.0 }}</span>
                                            </div>
                                        </div>
                                        {% endwith %}

                                        {% with err=form.company.errors %}
                                        <div class="form-group{% if err %} has-error{% endif %}">
                                            <label for="Photo" class="col-sm-4 control-label">Your company *</label>
                                            <div class="col-sm-4">
                                                {{ form.company }}
                                                <span class="text-danger">{{ err.0 }}</span>
                                            </div>
                                        </div>
                                        {% endwith %}
                                        {% with err=form.company_role.errors %}
                                        <div class="form-group{% if err %} has-error{% endif %}">
                                            <label for="Photo" class="col-sm-4 control-label">Your role at this company *</label>
                                            <div class="col-sm-4">
                                                {{ form.company_role }}
                                                <span class="text-danger">{{ err.0 }}</span>
                                            </div>
                                        </div>
                                        {% endwith %}
                                        {% with err=form.website.errors %}
                                        <div class="form-group{% if err %} has-error{% endif %}">
                                            <label for="Photo" class="col-sm-4 control-label">Website *</label>
                                            <div class="col-sm-4">
                                                {{ form.website }}
                                                <span class="" style="color: #404040;">({{ form.website.help_text }})</span>
                                                <span class="text-danger">{{ err.0 }}</span>
                                            </div>
                                        </div>
                                        {% endwith %}
                                    {% else %}
                                        {% with err=form.need_help.errors %}
                                        <div class="form-group{% if err %} has-error{% endif %}">
                                            <label for="id_need_help" class="col-sm-4 control-label">Need help</label>
                                            <div class="col-sm-4">
                                                {{ form.need_help }}
                                                <span class="" style="color: #404040;">{{ form.need_help.help_text }}</span>
                                                <span class="text-danger">{{ err.0 }}</span>
                                            </div>
                                        </div>
                                        {% endwith %}
                                    {% endif %}

                                    {% with err=form.gender.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="Photo" class="col-sm-4 control-label">Gender *</label>
                                        <div class="col-sm-4">
                                            {{ form.gender }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% with err=form.birth_year.errors %}
                                    <div class="form-group{% if err %} has-error{% endif %}">
                                        <label for="Photo" class="col-sm-4 control-label">Birth Year</label>
                                        <div class="col-sm-4">
                                            {{ form.birth_year }}
                                            <span class="text-danger">{{ err.0 }}</span>
                                        </div>
                                    </div>
                                    {% endwith %}
                                </div>
                            </div>
                        </div>


                    </div><!--/#accordion .panel-group-->
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">
                            Save
                        </button>
                        <!--<button type="reset" class="btn btn-danger">
                            Reset
                        </button>-->
                    </div>
                </div>
            </div>
        </form>
    </div><!--/.container-->
{% endblock content %}

{% block extra-js %}
    <script src="{% static 'js/chosen.jquery.js' %}"></script>

    <script>

        $("#id_industry, #id_languages_spoken").chosen();


    </script>

    <script type="text/javascript">
        //Header Search open/close
        function showSearchbox() {
            $('input#srch-term').toggleClass('show hide');
            $('.navbar-form').toggleClass('active');
        }

        //Form sections cloned

        //define template
        var template = $('#clone-sections .section:first').clone();

        //define counter
        var sectionsCount = 0;

        //add new section
        $('body').on('click', '.addsection', function() {

                //increment
                sectionsCount++;

                //loop through each input
                var section = template.clone().find(':input').each(function(){

                        //set id to store the updated section number
                        var newId = this.id + sectionsCount;

                        //update for label
                        $(this).prev().attr('for', newId);

                        //update id
                        this.id = newId;

                }).end()

                //inject new section
                .appendTo('#clone-sections');
                return false;
        });

        //remove section
        $('#clone-sections').on('click', '.remove', function() {
                //fade out section
                $(this).closest('.section').fadeOut(300, function(){
                        //remove parent element (main section)
                        $(this).remove();
                        return false;
                });
                return false;
        });
    </script>
{% endblock extra-js %}