{% extends 'base.html' %}

{% load static %}

{% block title %}Group detail{% endblock title %}

{% block extra-css %}
    <style type="text/css">
        .m-t-50 {
            margin-top: 0px !important;
        }
    </style>
{% endblock extra-css %}

{% block content %}
    <div class="container">
        {% if messages %}
	      {% for message in messages %}
	        <div class="top-msg-blk fade in alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
	          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	          {{ message }}
	        </div>
	      {% endfor %}
      {% endif %}
        <div class="row p-t-20">
            {% with profile_industry=profile.industry.all %}
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default contentbg b-ra-0 p-t-15 p-l-15 p-b-5 p-r-15 m-t-50">
                    <div class="panel-heading bg-grey-light">
                            <div class="row">
                                    {% if object.logo %}
                                    <div class="col-lg-4 col-sm-12 text-center-sm">
                                        <img src="{{ object.logo.url }}" class="img-circle b-w-2" alt="profile-icon-female" width="98" height="98">
                                    </div>
                                    {% endif %}
                                    <div class="col-lg-8 col-sm-12">
                                            <h4 class="text-blue m-b-4"> {{ object.title | title }} </h4>
                                    </div>
                            </div>
                    </div>
                    <div class="panel-body p-b-0 p-t-0">
                        <div class="row bg-white">
                            <div class="col-sm-12">
                                <h4>Summary</h4>
                                <!--<p>Human Resources &#187; Employee Training</p>-->
                                <p>
                                    {{ object.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-right section Start->
            <div class="col-md-12 col-sm-12">
                {% if not is_owner and not is_joined %}
                <div class="row btn-sec p-t-15">
                    <div class="col-md-2 col-md-offset-5 p-b-15">
                        <form action="." method="post" name="join-form">{% csrf_token %}
                            <input type="hidden" name="group" value="{{ object.id }}" />
                            <button class="btn btn-danger btn-block" type="submit">
                                Join this group
                                <span class="bg-white rounded-corner p-2 p-l-3 arrow-circle"><i class="fa fa-plus text-red f-s-11"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default contentbg b-ra-0 p-t-15 p-l-15 p-b-5 p-r-15 m-t-50">
                    <div class="panel-heading bg-grey-light">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                    <h4 class="text-blue m-b-4">View Questions and Answers</h4>
                                </div>
                            </div>
                    </div>
                    <div class="panel-body p-b-0 p-t-0">
                        <div class="row bg-white">
                            <div class="col-sm-12">
                                <h4>Summary</h4>
                                <!--<p>Human Resources &#187; Employee Training</p>-->
                                <p>
                                    {{ object.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default contentbg b-ra-0 p-t-15 p-l-15 p-b-5 p-r-15 m-t-50">
                    <div class="panel-heading bg-grey-light">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                    <h4 class="text-blue m-b-4"> Group Mentors</h4>
                                </div>
                            </div>
                    </div>
                    <div class="panel-body p-b-0 p-t-0">
                        <div class="row bg-white">
                            <div class="col-sm-12">
                                <h4>Summary</h4>
                                <!--<p>Human Resources &#187; Employee Training</p>-->
                                <p>
                                    {{ object.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default contentbg b-ra-0 p-t-15 p-l-15 p-b-5 p-r-15 m-t-50">
                    <div class="panel-heading bg-grey-light">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                        <h4 class="text-blue m-b-4">Group Entreprenuers</h4>
                                </div>
                            </div>
                    </div>
                    <div class="panel-body p-b-0 p-t-0">
                        <div class="row bg-white">
                            <div class="col-sm-12">
                                <h4>Summary</h4>
                                <!--<p>Human Resources &#187; Employee Training</p>-->
                                <p>
                                    {{ object.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default contentbg b-ra-0 p-t-15 p-l-15 p-b-5 p-r-15 m-t-50">
                    <div class="panel-heading bg-grey-light">
                            <div class="row">
                                <div class="col-lg-8 col-sm-12">
                                        <h4 class="text-blue m-b-4">View All Conversations</h4>
                                </div>
                            </div>
                    </div>
                    <div class="panel-body p-b-0 p-t-0">
                        <div class="row bg-white">
                            <div class="col-sm-12">
                                <h4>Summary</h4>
                                <!--<p>Human Resources &#187; Employee Training</p>-->
                                <p>
                                    {{ object.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-/right section End->
            {% endwith %}
        </div>
    </div>

    <!-- Page section end-->
{% endblock content %}