{% extends 'base.html' %}

{% block content %}
    <!-- login form start-->
    <div class="container">
            <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                            <div class="panel panel-default login">
                                    <div class="panel-heading">
                                        <strong class="panel-title">Login</strong>
                                    </div>
                                    <div class="panel-body">
                                            <form action="." method="post" class="form-horizontal" role="form">{% csrf_token %}
                                            {% for err in form.non_field_errors %}
                                                <div class="text-danger">{{ err|escape }}</div><br />
                                            {% endfor %}
                                            <div class="form-group">
                                                    <label for="loginEmail" class="col-sm-3 control-label">
                                                            Email</label>
                                                    <div class="col-sm-9">
                                                            <input type="email" name="username" class="form-control" id="id_username" placeholder="Email" required="" autofocus>
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                    <label for="loginPassword" class="col-sm-3 control-label">
                                                            Password</label>
                                                    <div class="col-sm-9">
                                                            <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required="">
                                                    </div>
                                            </div>
                                            <div class="form-group">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                            <div class="checkbox">
                                                                    <label>
                                                                            <input type="checkbox">
                                                                            Remember me
                                                                    </label>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="form-group last">
                                                    <div class="col-sm-offset-3 col-sm-6">
                                                            <button type="submit" class="btn btn-success btn-block">
                                                                    Sign in</button>
                                                                     <!-- <button type="reset" class="btn btn-default btn-sm">
                                                                    Reset</button> -->
                                                    </div>
                                            </div>
                                            </form>
                                    </div>
                                    <div class="panel-footer">
                                            Not Registered? <a href="{% url 'register' %}">Register here</a></div>
                            </div>
                    </div>
            </div>
    </div>
    <!-- login form end-->
{% endblock content %}