{% extends 'base.html' %}

{% load static %}

{% block title %}Register{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default login">
                    <div class="panel-heading">
                        <strong class="panel-title">Register</strong>
                    </div>
                    <div class="panel-body">
                        <form action="." method="post" class="form-horizontal" id="register-form" role="form" name="register-form">{% csrf_token %}
                            {% with err=form.first_name.errors %}
                            <div class="form-group{% if err %} has-error{% endif %}">
                                <label for="first_name" class="col-sm-4 control-label">
                                        First Name</label>
                                <div class="col-sm-8">
                                    {{ form.first_name }}
                                    <span class="text-danger">{{ err.0 }}</span>
                                </div>
                            </div>
                            {% endwith %}
                            {% with err=form.last_name.errors %}
                            <div class="form-group{% if err %} has-error{% endif %}">
                                <label for="id_last_name" class="col-sm-4 control-label">
                                        Last Name</label>
                                <div class="col-sm-8">
                                    {{ form.last_name }}
                                    <span class="text-danger">{{ err.0 }}</span>
                                </div>
                            </div>
                            {% endwith %}
                            {% with err=form.email.errors %}
                            <div class="form-group{% if err %} has-error{% endif %}">
                                <label for="id_email" class="col-sm-4 control-label">
                                        Email</label>
                                <div class="col-sm-8">
                                    {{ form.email }}
                                    <span class="text-danger">{{ err.0 }}</span>
                                </div>
                            </div>
                            {% endwith %}
                            {% with err=form.password.errors %}
                            <div class="form-group{% if err %} has-error{% endif %}">
                                <label for="id_password" class="col-sm-4 control-label">
                                        Password</label>
                                <div class="col-sm-8">
                                    {{ form.password }}
                                    <span class="text-danger">{{ err.0 }}</span>
                                </div>
                            </div>
                            {% endwith %}
                            {% with err=form.confirm_password.errors %}
                            <div class="form-group{% if err %} has-error{% endif %}">
                                <label for="id_confirm_password" class="col-sm-4 control-label">
                                        Confirm Password</label>
                                <div class="col-sm-8">
                                    {{ form.confirm_password }}
                                    <span class="text-danger">{{ err.0 }}</span>
                                </div>
                            </div>
                            {% endwith %}
                            {% with err=form.profile_type.errors %}
                            <div class="form-group{% if err %} has-error{% endif %}">
                                <div class="col-md-offset-4 col-sm-3">
                                    <div class="">
                                        <input type="radio" name="profile_type" value="mentor">
                                        <label for="id_profile_type" class="control-label">
                                        Be a mentor</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="">
                                        <input type="radio" name="profile_type" value="entrepreneur">
                                        <label for="id_profile_type" class="control-label">
                                        Be an Entrepreneur</label>
                                    </div>
                                </div>
                                <div class="text-danger" style="text-align: center;">{{ err.0 }}</div>
                            </div>
                            {% endwith %}
                            <div class="form-group last">
                                <div class="col-sm-offset-4 col-sm-6">
                                        <button type="submit" class="btn btn-success btn-block">
                                                Register</button>
                                                 <!-- <button type="reset" class="btn btn-default btn-sm">
                                                Reset</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        Already Registered? <a href="{% url 'login' %}">login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register form end-->
{% endblock content %}
